.Sidebar {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 25px 50px;
  box-sizing: border-box;
  border-right: 2px solid #eee;

  a {
    text-decoration: none;
    color: black;
  }

  .profile {
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;

    .user-image {
      width: 50px;
      height: 50px;
      background-image: url(https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 10px;
    }

    .user-settings-tooltip {
      margin-left: 10px;
      font-size: 10px;
      transition: 0.1s;
      opacity: 0;
    }

    &:hover .user-settings-tooltip {
      opacity: 0.7;
    }
  }

  .conversations {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    .conversation {
      box-sizing: border-box;
      width: 100%;
      padding: 0 5px;
      margin: 10px 0;
      cursor: pointer;

      &:hover {
        border-left: 3px solid #007bff;
      }
    }
  }

  .logout {
    box-sizing: border-box;
    width: 100%;
    padding: 0 5px;
    margin: 10px 0;
    cursor: pointer;

    &:hover {
      border-left: 3px solid #007bff;
    }
  }
}
